body{
     background-color:yellow;
}
/* changing text color and font */
#codingal{
           color:red;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
}
form{
      padding:30px;
}

